<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Início</title>
</head>
<body>

<header>
    <nav>
        <strong>Sistema Museu 13 de Maio</strong>
        <a href="/usuario/login">Entrar</a>
    </nav>
</header>

<main>
    <h1>Consulte Nosso Acervo</h1>
    <p>Acesse a <plataforma></plataforma> para Analise das Obras presentes no Museu.</p>

    <hr>

    <section>
        <h2>Área de Membros</h2>
        <p>Para interagir com as obras, realizar sugestoes autentique-se abaixo.</p>
        <a href="/usuario/login">Fazer Login</a>
    </section>

    <section>
        <h3>Nossas Obras !</h3>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${itens}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.nome}"></td>
                <td th:text="${item.descricao}"></td>
                <td>-</td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>
    </section>

</main>

</body>
</html>
