<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu 13 de Maio - Início</title>
</head>
<body>

<header>
    <nav>
        <strong>Sistema Museu 13 de Maio</strong>
    </nav>
</header>

<main>
    <section>
        <p>Para interagir com as obras, realizar sugestoes autentique-se abaixo.</p>
        <a href="/usuario/login">Fazer Login</a>
    </section>


    <section>
        <h3>Catálogo do Acervo</h3>
        <p> Explore nossa coleção de Livros, Revistas, Jornais e Outros</p>

        <form>
            <input type="text" placeholder="Pesquisar item...">
            <button type="submit">Buscar</button>
        </form>
        <br>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${itens}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.nome}"></td>
                <td th:text="${item.descricao}"></td>
                <td>-</td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>
    </section>

</main>

</body>
</html>
